header img {
	float: left;
	max-width: 25%;
	padding: 0 0 1% 0;
}

header {
	padding: 1%;
	color: #003366;
}

#header_left {
	float: left;
	width: 65%;
}

h1 {
	font-family: 'Oleo Script', arial, sans-serif;
	padding: 3% 0 0 0;
}

#search1 {
	float: right;
	max-width: 30%;
	padding: 9% 0 0 0;
}

body {
	font-family: 'Questrial', arial, sans-serif;
	margin: 0 auto;
	max-width: 960px;
	background-image: url('../images/bg.png');
	background-repeat: repeat-x;
}

nav {
	border: 1px solid #000;
	float: left;
	width: 99.8%;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline;
}

nav li a {
	display: block;
	float: left;
	padding: 1% 3.9%;
	color: #000;
	border-right: 1px solid #000;
	text-decoration: none;
	background: #FFCC33;
}

nav li a:hover { 
	background: #CC3333; 
	text-decoration: underline;
}

#wrapper {
	float: left;
	width: 99.8%;
	border: 1px solid #000;
	background: #FFF;
}

#main_content {
	clear: left;
	float: left;
	width: 60%;
	padding: 0 2% 2% 2%;
	display: inline;
}

#main_content img {
	max-width: 100%;
	padding: 5% 2% 0 2%;
}

#cta p {
	padding: 0 0 0 2%;
}

#cta a {
	float: right;
	padding: 0 0 2% 0;
}

#events {
	clear: both;
	float: left;
	width: 38%;
	margin-left: 2%;
	padding: 0 4% 4% 4%;
	border: 1px solid #000;
	border-radius: 7px;
}

#upcoming_cal {
	max-width: 85%;
	padding: 1.25%;
}

#cal_button {
	float: right;
	padding: 2% 8% 0 0;
}

#newsletter {
	float: right;
	width: 38%;
	padding: 0 4% 4% 4%;
	border: 1px solid #000;
	border-radius: 7px;
}

#news_button {
	float: right;
	padding: 10% 8% 0 0;
}

aside {
	font-size: .85em;
	color: #FFF;
	float: right;
	width: 30%;
	padding:  2% 2% 2% 2%;
	display: inline;
	background: #003366;
}

#agnosto, #lochrane {
	max-width: 60%;
}

#principal a, #asst_principal a {
	color: #FFF;
}

#school_img {
	max-width: 80%;
	padding: 20% 0 0 0;
}

#office_hours {
	padding: 20% 2% 2% 0%;
}

#school_hours {
	padding: 2% 2% 5% 0%;
}

footer {
	clear: left;
	border: 1px solid #000;
	background: #99CCFF;
	color: #003366;
	text-align: left;
	padding: 2%;
	border: 1px solid #000;
	font-weight: bold;
}

label {
	display: block;
	margin: 1.1em 0 0;
}
input:focus {
	border: 1px solid #FF0000;
}
input[type="text"], input[type="email"] {
	clear: both;
	border: 1px solid #000;
	width: 90%;	
	height: 1.5em;
}


